{% extends 'booking/base.html' %}

{% block header %}

    <!-- Header area -->
    <header id="header">
        <div class="center text-center">
            {#            <h1 class="bigheadline">ESCAPEE</h1>#}
            {#            <h4 class="subheadline">یک اسکیپ روم متفاوت</h4>#}
        </div>
        <div class="bottom">
            <a data-scroll href="#navigation" class="scrollDown animated pulse" id="scrollToContent"><i
                    class="pe-7s-angle-down-circle pe-va"></i></a>
        </div>
    </header>
    <!-- Content Area -->
{% endblock %}
{% block content %}
    <!-- Portfolio Area -->

    <section id="portfolio" class="portfolio-area">
        <div class="container">
            <h2 class="block_title">اتاق فرار ها</h2>
            <div class="row port cs-style-3">
                {% for game in object_list %}
                    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
                        <figure>
                            <img src="{{ game.photo.url }}" alt="{{ game.name }}" style="height: 480px; width: 852px;">
                            <figcaption>
                                <h3>{{ game.name }}</h3>
                                <span>ESCAPEE</span>
                                <a href="{% url 'reserve' game.name %}" class="button">رزرو</a>
                            </figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div><!-- container -->
    </section><!-- portfolio -->

    <!-- Contact Area -->

    <section id="contact" class="mapWrap">
        <div id="googleMap" style="width:100%;"></div>
        <div id="contact-area">
            <div class="container">
                <h2 class="block_title">!!! سلام</h2>
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                    <div class="col-sm-6">
                        <div class="moreDetails">
                            <ul class="address">
                                <li><i class="pe-7s-map-marker"></i><span>کرج<br>گوهردشت<br>خیابان داریوش</span>
                                </li>
                                <li><i class="pe-7s-mail"></i><span>example@gmail.com</span></li>
                                <li><i class="pe-7s-phone"></i><span>+1-202-555-0144</span></li>
                                <li><i class="pe-7s-global"></i><span><a href="#">www.escapee.ir</a></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h2 class="con-title">با ما در ارتباط باشید</h2>
                        <form role="form">
                            <div class="form-group">
                                <label for="user_name"></label><input type="text" class="form-control" id="user_name"
                                                                      placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <label for="your_email"></label><input type="email" class="form-control" id="your_email"
                                                                       placeholder="Enter your email">
                            </div>
                            <div class="form-group">
                                <label for="user_message"></label><textarea name="InputMessage" id="user_message"
                                                                            class="form-control" rows="5"
                                                                            required></textarea>
                            </div>

                            <button type="submit" class="btn medium">Let us know</button>
                        </form>
                    </div>
                </div>
            </div><!-- container -->
        </div><!-- contact-area -->
    </section><!-- contact -->
{% endblock %}