* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Calibri", serif;
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    box-shadow: 5px 5px 12px 2px #131313;
    top: 0;
    width: 100%;
}

.brand-title h1 {
    font-family: "َArial", sans-serif !important;
}

.brand-title h1 a {
    color: #fff;
    text-decoration: none;
}

.brand-title h1 a:hover {
    color: #FF0000;;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 19px;
}

.navbar-links li:hover {
    background-color: #FF0000;;
    border-radius: 10px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    #header h1 {
        margin: 00px;
    }
}