/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgba(255, 0, 0, 0.83);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: rgba(234, 15, 15, 0.26);
}

/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: #232323;
    width: 100%;
    max-height: 0;
    text-align: center;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}