
* {

    box-sizing: border-box;
    image-rendering: optimizeSpeed;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Calibri";

    background-color: rgb(69, 66, 66)
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    box-shadow: 5px 5px 12px 2px #131313;
    width: 100%;
    overflow: hidden;
    top: 0 !important;
    /*main navbar div*/
}


.brand-title h1 {
    font-family: Georgia, 'Times New Roman', Times, serif !important;

}

.brand-title h1 a {
    color: #fff;
    text-decoration: none;
}


.brand-title h1 a:hover {

    color: #FF0000;
}

.brand-title {
    font-size: 1.5rem;

    margin: 0 0 0 0;

}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;

    margin: 0;
    padding: 0;

}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 19px;
}

.navbar-links li:hover {

    background-color: #FF0000;;

    border-radius: 10px;
}

.toggle-button {
    position: absolute;

    top: .75rem;
    right: 1rem;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    /*sort of spans*/
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    /* sort of spans*/
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem !important;
    }

    .navbar-links.active {
        display: flex;
    }
}


/*end of the header-------------------------------------*/
main {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    justify-content: center;
}

@media (max-width: 750px) {
    .main-section {
        width: 100% !important;
    }
}


/*--structure of the p--*/
.paragraph {
    padding: 1rem 0 1rem 0;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
    margin: 3.3rem 0 0 0;
    line-height: 2.2rem;
    border: 3px solid #222;
    margin: 0.5rem 0 0 0;
}

.paragraph p {
    font-size: 1.2rem;
    position: relative;
    text-overflow: ellipsis;
    padding: 0.6rem;
    text-align: right;
}

.paragraph h1 {
    text-align: right;
    padding: 0.5rem;
}

.progress-bar-and-game-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 0;
}

.image-box {
    width: 400px;
    height: 400px;
    image-rendering: optimizeSpeed;
    position: relative;
    margin: 1.3rem 0;
    min-width: 300px;
}

.image-room {
    width: 100%;
    height: 100%;
    position: relative;
    border: 2px solid black;

}

@media (max-width: 960px) {
    .main-section {
        width: 80%;
    }

    .progress-bar-and-game-image {
        flex-direction: column;
    }

    .image-box {
        display: inline-block;
        position: relative;
        margin: 0 auto;
    }

    .container {
        margin: 0 auto;
    }

}

/*---------*/
.container {
    position: relative;
    width: 250px;
    display: flex;

}

.container .card {
    position: relative;
    width: 250px;
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    margin: 1.3rem auto;
}

.container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
    pointer-events: none;
    z-index: 1;
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}

.percent .num {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .num h2 {
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

.card:hover .percent .num h2 {
    color: #fff;
    font-size: 60px;
}

.percent .num h2 span {
    color: #777;
    font-size: 24px;
    transition: 0.5s;
}

.card:hover .percent .num h2 span {
    color: #fff;
}

.text {
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

.card:hover .text {
    color: #fff;
}

svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: rgba(255, 12, 0, 0.75);
}


/*----------end of the progress bar*/

/*--structure of the p--*/
.paragraph {
    padding: 1rem 0 1rem 0;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
    margin: 3.3rem 0 0 0;
    line-height: 2.2rem;
    border: 3px solid #222;
    margin: 0.5rem 0 0 0;
}


.paragraph p {
    font-size: 1.2rem;
    position: relative;
    text-overflow: ellipsis;
    padding: 0.6rem;

    text-align: right;
}

.paragraph h1 {
    text-align: right;
    padding: 0.5rem;
}

@media (max-width: 500px) {
    .paragraph p {
        font-size: 0.9rem;
    }

    .image-box {
        width: 100%;
        height: 300px;
    }

}

/*end of the paragraph section*/

/*---- start table section*/
.main-footer-info {
    margin: 1rem 0 0 0;
    width: 100%;
    height: 22rem;
}

.table-box {
    width: 100%;
    height: auto;
    margin: 1rem 0 0 0;
}


table {
    width: 100%;
    height: 75%;
    margin: 0.8rem auto;
    border-collapse: unset;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: default;
}

td {
    border: 4px solid #222;
    text-align: center;
    direction: rtl;
    padding: 0.62rem;
}


td span {
    background-color: red;
    border-radius: 5px;
    padding: 4px;
}

.location-table {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.fas {
    margin: 0 0.5rem 0.3rem 0;
}

/*---end of the table section*/


/*start slide picker section*/
.main-date-picker-box {
    width: 100%;
    height: auto;
}

.booking-title {
    position: relative;
    width: 30%;
    height: 2.5rem;
    background-color: rgb(255, 0, 0);
    float: right;
    text-align: right;
    top: 1.2rem;
    overflow-x: hidden;
    overflow-y: hidden;

}

.booking-title span {
    position: relative;
    font-size: 2.4rem;
    bottom: 0.37rem;
    color: #fff;
    right: 10px;

}

.date-picker {
    width: 100%;
    height: 12rem;
    border: 5px solid #222;
    position: relative;
    margin: 4rem 0 0 0;

}

.container-date {
    width: 100%;
    height: 60%;
    display: block;
    display: flex;
    justify-content: space-around;
}

.date-section {
    width: 13%;
    height: 100%;
    border: 1px solid rgb(255, 0, 0);
    cursor: pointer;

}

.date-section:hover {
    opacity: 0.5;
}

.fa-sort-up {
    font-size: 3.12rem;
}

.up-arrow-box {
    width: 2rem;
    height: 2.4rem;
    display: block;
    margin: 0 auto;
}

.up-arrow-box:hover {
    background-color: rgb(173, 182, 182);
    opacity: 0.3;
    cursor: pointer;
}

.down-arrow-box {
    width: 2rem;
    height: 1.9rem;
    display: block;
    margin: 0 auto;
}

.down-arrow-box:hover {
    background-color: rgb(173, 182, 182);
    opacity: 0.3;
    cursor: pointer;
}

.fa-caret-down {
    font-size: 3.12rem;
    position: relative;
    bottom: 5px;
}

.date-section h3 {
    color: #fff;
    margin: 0 0 1rem 0;
    text-align: center;
    direction: rtl;
    font-size: 1.5rem;
    line-height: 2rem;
}

#today {
    margin-top: 35%;
    font-size: 2rem;
}

@media (max-width: 700px) {
    .date-section h3 {
        font-size: 0.9rem;
        line-height: 2rem;
        overflow-x: hidden;
    }

    .container-date {
        justify-content: space-between;
    }

    .date-section {
        width: 18%;
    }

    #today {
        font-size: 1.4rem;
    }

    .booking-title {
        width: 30%;
    }

}

.dailyprogram-box {
    display: none;
    width: 90%;
    height: 12rem;
    margin: 1rem 0 0 0;

}

.cander-boxes {
    width: 150px;
    height: 12rem;
    background-color: white;
    display: inline-block;
    margin-right: 40px;
    margin-bottom:10px;
    position: relative;
    float: right;
    font-size: 2.2rem;
    text-align: center;
    cursor: pointer;
    color: black;
    overflow-y: hidden;
    border-radius: 10%;
}

.cander-boxes:hover {
    opacity: 0.5;


}

@media (max-width: 450px) {
    .cander-boxes {
        width: 35%;
        font-size: 1.8rem;
        height: 9.0rem;
        margin-right: 25px;
        border-radius: 10%;
    }

    .dailyprogram-box {
        height: 14rem;
    }

    .booking-button {
        position: relative;
    }
}


.booking-button {
    margin: 1rem 0 0 0;
    padding: 2rem 0;
    position: relative;
    left: 0;
}

.booking-button a button {
    width: 85%;

    display: block;
    margin: 0.1rem auto;
    height: 3rem;
    cursor: pointer;
    font-size: 1.8rem;

    color: rgb(255, 255, 255);

    background-color: rgb(255, 0, 0);
    border: none;
}


.booking-button a button:hover {
= = = = = = = opacity: 0.8;
    box-shadow: 2px 2px 5px 1.5px rgba(255, 246, 198, 0.25);

}

.booking-button a {
    text-decoration: none;
}


.fas {

    margin: 0 0.5rem 0.3rem 0;
}


#first-box.active {
    background-color: red;
}

